<p-table
  #dt
  styleClass="p-datatable-sm"
  [rowHover]="true"
  [value]="rooms"
  [(selection)]="rooms"
  [globalFilterFields]="['name', 'type', 'location', 'enabled', 'maxCount']"
  dataKey="id"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 50]"
  [paginator]="true"
>
  <ng-template pTemplate="caption">
    <div class="table-header d-flex">
      <label for="" class="fs-1 pb-3">HABITACIONES</label>
    </div>
    <div class="text-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          #query
          pInputText
          type="text"
          (input)="dt.filterGlobal(query.value, 'contains')"
          placeholder="Búsqueda Global"
        />
      </span>
      <p-button
        class="p-2"
        label="Agregar Habitación"
        [disabled]=""
        (onClick)="add()"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th pSortableColumn="name">
        HABITACIÓN<p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="type">TIPO<p-sortIcon field="type"></p-sortIcon></th>
      <th pSortableColumn="location">
        UBICACIÓN<p-sortIcon field="location"></p-sortIcon>
      </th>
      <th pSortableColumn="maxCount">
        MAX DE PERSONAS<p-sortIcon field="maxCount"></p-sortIcon>
      </th>
      <th pSortableColumn="baseCost">
        COSTO BASE <p-sortIcon field="baseCost"></p-sortIcon>
      </th>
      <th pSortableColumn="duty">
        IMPUESTO <p-sortIcon field="duty"></p-sortIcon>
      </th>
      <th pSortableColumn="">PRECIO</th>
      <th pSortableColumn="enabled">
        ESTADO<p-sortIcon field="enabled"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-room>
    <tr>
      <td>
        <button class="border border-solid border-gray-400 rounded-lg p-1">
          <i class="pi pi-ellipsis-v" (click)="openMenu(room, $event)"></i>
        </button>
      </td>
      <td>{{ room.name }}</td>
      <td>{{ typeRoom(room.type) }}</td>
      <td>{{ room.location }}</td>
      <td>{{ room.maxCount }}</td>
      <td>{{ room.baseCost }}</td>
      <td>{{ room.duty }}</td>
      <td>{{ room.baseCost + room.duty }}</td>
      <td *ngIf="room.enabled; else inactivo">DISPONIBLE</td>
      <ng-template #inactivo>
        <td>NO DISPONIBLE</td>
      </ng-template>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="display" [style]="{ width: '60vw' }">
  <label for="" class="display-1 mb-3 text-center">{{ title_modal }}</label>
  <div class="grid">
    <div class="">
      <div class="p-fluid">
        <form action="" [formGroup]="roomForm">
          <div>

            <div *ngIf="addNew" class="field">
              <label for="hotel">Hotel</label>
              <p-dropdown
                [options]="hoteles"
                placeholder="Seleccione un hotel"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                optionLabel="name"
                (onChange)="HotelSelect($event)"
                formControlName="hotel"
              ></p-dropdown>
              <div
                *ngIf="
                  roomForm.controls['hotel'].invalid &&
                  roomForm.controls['hotel'].touched
                "
              >
                <small
                  class="text-danger text-sm"
                  *ngIf="roomForm.controls['hotel'].errors"
                >
                  Campo requerido
                </small>
              </div>
            </div>
            <div class="field">
              <label for="name">Nombre</label>
              <input pInputText id="name" type="text" formControlName="name" />
              <div
                *ngIf="
                  roomForm.controls['name'].invalid &&
                  roomForm.controls['name'].touched
                "
              >
                <small
                  class="text-danger text-sm"
                  *ngIf="roomForm.controls['name'].errors"
                >
                  Campo requerido
                </small>
              </div>
            </div>
            <div class="field">
              <label for="baseCost">Costo Base</label>
              <input
                pInputText
                id="baseCost"
                type="number"
                formControlName="baseCost"
              />
              <div
                *ngIf="
                  roomForm.controls['baseCost'].invalid &&
                  roomForm.controls['baseCost'].touched
                "
              >
                <small
                  class="text-danger text-sm"
                  *ngIf="roomForm.controls['baseCost'].errors"
                >
                  Campo requerido
                </small>
              </div>
            </div>
            <div class="field">
              <label for="duty">Impuesto</label>
              <input
                pInputText
                id="duty"
                type="number"
                formControlName="duty"
              />
              <div
                *ngIf="
                  roomForm.controls['duty'].invalid &&
                  roomForm.controls['duty'].touched
                "
              >
                <small
                  class="text-danger text-sm"
                  *ngIf="roomForm.controls['duty'].errors"
                >
                  Campo requerido
                </small>
              </div>
            </div>
            <div class="field">
              <label for="location">Localización</label>
              <input
                pInputText
                id="location"
                type="text"
                formControlName="location"
              />
              <div
                *ngIf="
                  roomForm.controls['location'].invalid &&
                  roomForm.controls['location'].touched
                "
              >
                <small
                  class="text-danger text-sm"
                  *ngIf="roomForm.controls['location'].errors"
                >
                  Campo requerido
                </small>
              </div>
            </div>

            <div class="field">
              <label for="maxCount">Maximo de Personas</label>
              <input
                pInputText
                id="maxCount"
                type="number"
                formControlName="maxCount"
              />
              <div
                *ngIf="
                  roomForm.controls['maxCount'].invalid &&
                  roomForm.controls['maxCount'].touched
                "
              >
                <small
                  class="text-danger text-sm"
                  *ngIf="roomForm.controls['maxCount'].errors"
                >
                  Campo requerido
                </small>
              </div>
            </div>
            <div class="field">
              <label for="type">Tipo de Habitacion</label>
              <p-dropdown
                [options]="typesRooms"
                placeholder="Tipo de Habitacion"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                optionLabel="name"
                optionValue="id"
                formControlName="type"
              ></p-dropdown>
              <div
                *ngIf="
                  roomForm.controls['type'].invalid &&
                  roomForm.controls['type'].touched
                "
              >
                <small
                  class="text-danger text-sm"
                  *ngIf="roomForm.controls['type'].errors"
                >
                  Campo requerido
                </small>
              </div>
            </div>
          </div>
          <label class="pl-3" for="">Estado</label>
          <div class="mt-3 field d-flex">
            <p-inputSwitch formControlName="enabled"></p-inputSwitch>
            <small
              class="text-primary text-sm m-3"
              *ngIf="roomForm.controls['enabled'].value"
            >
              (Disponible)
            </small>
            <small
              class="text-danger text-sm m-3"
              *ngIf="!roomForm.controls['enabled'].value"
            >
              (NO Disponible)
            </small>
          </div>

          <hr />

          <div class="mt-3">
            <p-button
              label="Guardar"
              [disabled]="!roomForm.valid"
              (onClick)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="mt-3"
              label="Cancelar"
              (onClick)="close()"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="assignRoom" [style]="{ width: '30vw', height:'30vw' }">
  <ng-template pTemplate="header">Asignar Habitación ({{title_room}})</ng-template>
  <div class="grid">
    <div class="">
      <div class="p-fluid">
        <form action="" [formGroup]="roomForm">
          <div>
            <div class="field">
              <label for="type">Hotel</label>
              <p-dropdown
                [options]="hoteles"
                placeholder="Seleccione"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                optionLabel="name"
                optionValue="id"
                formControlName="selectHotel"
              ></p-dropdown>
            </div>
          </div>
          <hr />

          <div class="mt-3">
            <p-button
              label="Guardar"
              [disabled]="roomForm.controls['selectHotel'].invalid"
              (onClick)="onSubmitAssignHotel()"
            ></p-button>
            <p-button
              styleClass="mt-3"
              label="Cancelar"
              (onClick)="closeAssign()"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</p-dialog>

<div class="text-center">
  <p-menu #menu [model]="items" [popup]="true"></p-menu>
</div>
